.toc {
  @include position(fixed, 0px auto 0px 0px);
  @include transform(translateX(calc(-100% + 3rem)));
  @include transition(all 0.25s linear);
  @include texture(180deg, lighten($ada-light-green, 10%), lighten($ada-light-green, 1%), 42, 0);

  border-right: 2px solid darken($ada-light-green, 10%);
  padding: 0.5rem 1rem;
  z-index: 999999;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &.is-visible {
    @include transition(all 0.4s ease-in-out);
    @include transform(translateX(0));

    * { opacity: 1; }
  }

  * { opacity: 0; }
}

.toc-fade {
  @include position(fixed, 0px 0px 0px 0px);
  @include transition;
  background: white;
  opacity: 0;
  visibility: hidden;
  z-index: 999998;

  &.is-visible {
    opacity: 0.75;
    visibility: visible;
  }
}

.toc-menu {
  background: url(image_path("hamburger.png")) no-repeat top left;
  background-size: contain;
  position: absolute;
  top: 0.5rem;
  right: 0.4rem;
  width: 2rem;
  height: 2rem;
  padding: 0;
  text-indent: -9999rem;
  border-radius: 50%;
  opacity: 1;
  z-index: 9999;

  &:hover, &:active, &:focus {
    background-color: $ada-yellow;
    border-color: $ada-yellow;
  }
}

.toc-title {
  font-size: 1.5rem;
}

.toc-unit {
  font-size: 1.25rem;
  margin: 1rem 0 0;
}

.toc-chapter {
  font-size: 1rem;
  margin: 0;
}

.toc-lectures {
  display: table;
  font-size: 0.8rem;
  margin: 0 0 0.5rem;
  counter-reset: lecture;
}

.toc-lecture {
  counter-increment: lecture;
  display: table-row;

  &::before {
    content: counter(lecture) ". ";
    display: table-cell;
    text-align: right;
    padding: 0 0.25rem 0 0;
  }
}

.toc-link {
  color: rgba(235, 235, 235, 1);
}
