@charset "utf-8";

@import "bourbon";
@import "base/base";   /* Bitters needs to be imported before Neat */
@import "neat";

@import "partials/layout";
@import "partials/syntax";

code {
  background: #eee;
}

.chapter {
  h1 { font-size: 3.5rem; }
  h2 { font-size: 2.5rem; }
  h3 { font-size: 1.75rem; }
  h4 { font-size: 1.5rem; }

  blockquote { font-style: italic; }
}

pre {
  padding: 0;
  line-height: 1.25;
  white-space: pre;
  word-break: inherit;
  word-wrap: inherit;
}
