@charset "utf-8";

@import "bourbon";
@import "base/base";   /* Bitters needs to be imported before Neat */
@import "neat";

@import "partials/mixins";
@import "partials/layout";
@import "partials/header";
@import "partials/toc";
@import "partials/breadcrumbs";
@import "partials/footer";
@import "partials/syntax";

body { 
  -webkit-font-smoothing: antialiased;
  margin: 0; 
}

code {
  background: #eee;
}

.unit,
.chapter,
.lecture {
  h1 { font-size: 3.5rem; }
  h2 { font-size: 2.5rem; margin-top: 0.75rem; }
  h3 { font-size: 1.75rem; margin-bottom: 0; border-bottom: $border-heading; }
  h4 { font-size: 1.5rem; border-bottom: $border-heading; }

  blockquote { font-style: italic; }

  ul, ol {
    list-style: disc outside;
    margin: 0.75rem 0 0.75rem 1.75rem;
  }

  ol {
    list-style: decimal-leading-zero inside;

    > li {
      margin: 0.75rem 0;
    }
  }
}

pre {
  padding: 0;
  line-height: 1.25;
  white-space: pre;
  word-break: inherit;
  word-wrap: inherit;
  overflow-y: scroll;
}
