@charset "utf-8";

@import "bourbon";
@import "base/base";   /* Bitters needs to be imported before Neat */
@import "neat";

@import "partials/layout";
@import "partials/syntax";

body {
  font-size: 16px;
}

code {
  background: #eee;
}

h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

pre {
  padding: 0;
  line-height: 1.25;
  white-space: pre;
  word-break: inherit;
  word-wrap: inherit;
}
