- if @unit || @chapter || @lecture
  .breadcrumbs
    = link_to(*(breadcrumb_link site_url, @unit))
    = link_to(*(breadcrumb_link(site_url, @unit, @chapter))) if @chapter
    = link_to(*(breadcrumb_link(site_url, @unit, @chapter, @lecture))) if @lecture
