%button.toc-menu{ type: "button" } Toggle Table of Contents
%h2.toc-title Table of Contents
.toc-content
  - data.toc.each do |unit|
    %h3.toc-unit= unit.title
    - unit.chapters.each do |chapter|
      - current_class = @chapter == chapter.title ? "is-current" : ""
      %button{ class: "toc-chapter #{ current_class }" }= chapter.title
      %ol{ class: "#{ current_class } toc-lectures" }
        - chapter.lectures.each do |lecture|
          - text, path = breadcrumb_link site_url, unit.title, chapter.title, lecture
          %li.toc-lecture= link_to text, path, { class: 'toc-link' }
