.lecture
  %h1 About Ada Developers Academy
  :markdown
    [Ada Developers Academy](http://adadevelopersacademy.org/) teaches full-stack web development. Students learn computer science fundamentals, Ruby, Rails, JavaScript, and HTML/CSS. Students also learn how to work on development teams using methodologies like pair programming, Agile-inspired task management and test-driven development.

    [Ada Developers Academy is a non-profit program. We're part of a 501c3 organization and most donations are tax-deductible.](http://adadevelopersacademy.org/donate)

  %h2 About Ada Jumpstart
  :markdown
    Ada Jumpstart is a new program that we are launching at Ada to better support new programmers. Everyone comes to Ada to learn to program and become software developers, but everyone comes with a different background and set of experiences with coding. We know that different people need different support systems to be successful; this support system is directed at the people newest to programming. 

    Ada Jump Start is an online, open source curriculum to jump start your career in coding. It consists of online notes, worksheets and assignments developed by Ada's instructional staff. __Anyone can participate in this online learning experience.__ We have structured this curriculum to create a solid foundation of computing fundamentals for people at the beginning of their software development journey.

    ### Jumpstart Live
    Additionally, Ada offers a _Jumpstart Live_ companion program for incoming Ada students at the beginning of each Ada cohort. During this time, we will host regular 3-hour study sessions for incoming students to get help on the curriculum concepts and assignments. The dates and time for Jumpstart Live varies by cohort. Specifics are emailed to incoming students in the weeks leading to class beginning.

  %h2 About This Site

  .license= Kramdown::Document.new(File.read(File.join(root_path,"LICENSE.md"))).to_html
